BODY {
    font-family: Verdana;
    font-size: 14px;
    margin: 100px;
    background-color: #f5fffd;
}

.center {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 32pt;
}

textarea.juicy,
input.juicy {
    font-size: 40pt;
    width: 75%;
    border: 1px solid #3e93e8;
}

input[type=submit] {
    background-color: #3e93e8;
    color: white;
    border: 1px solid white;
}